*.dll
*.err
*.exe
*.exp
*.lib
*.log
*.mac
*.ncb
*.obj
*.obj.oacr.*.pft.xml
*.opensdf
*.pdb
*.pfx
*.pro.user
*.res
*.sdf
*.suo
*.sys
*.vcproj.*.user
*.wrn
hone_*_debug
hone_*_release
objchk_*
objfre_*
version.h
