//----------------------------------------------------------------------------
// Hone user-mode utility
//
// Copyright (c) 2014 Battelle Memorial Institute
// Licensed under a modification of the 3-clause BSD license
// See License.txt for the full text of the license and additional disclaimers
//
// Authors
//   Richard L. Griswold <richard.griswold@pnnl.gov>
//----------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>
#include "honeutil_info.h"

#define VER_FILETYPE             VFT_APP
#define VER_FILESUBTYPE          VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR  HONE_UTIL_DESCRIPTION_STR
#define VER_INTERNALNAME_STR     HONE_UTIL_NAME_STR
#define VER_ORIGINALFILENAME_STR HONE_UTIL_NAME_STR
#define VER_FILEVERSION          HONE_UTIL_VERSION
#define VER_FILEVERSION_STR      HONE_UTIL_VERSION_STR

#include "common.ver"
